RELEASE_CHANNEL=next
VITE_DOMAIN=https://next.ivao-radar.com
VITE_UPDATE_BASE_URL=https://r2.ivao-radar.com/app/next
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET=tiles
